# ASP.NET Core
ASPNETCORE_ENVIRONMENT=environment_placeholder

# PostgreSQL
POSTGRES_DB=postgress_db_placeholder
POSTGRES_USER=postgres_username_placeholder
POSTGRES_PASSWORD=postgres_password_placeholder
POSTGRES_PORT=postgres_port_placeholder

# Connection Strings
ConnectionStrings__Default=postgres_connection_string_placeholder
ConnectionStrings__Redis=redis_connection_string_placeholder

# Redis
REDIS_PORT=redis_port_placeholder

# API
API_PORT=api_port_placeholder

# Custom Cache
CustomCache__Capacity=custom_cache_capacity_placeholder